<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Test Ip-Label</v-toolbar-title>
    </v-toolbar>
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'Home'
}
</script>
