<template>
  <v-card class="ma-5">
    <v-container>
      <v-row>
        <v-col md="6">
          <v-text-field
            placeholder="Taper le nom d'un film"
            v-model="searchQuery"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col md="12">
          <v-data-table
            :headers="headers"
            :items="movies"
            hide-default-footer
            class="elevation-1"
          >
          <template v-slot:item.action="{ item }">
            <v-btn @click="getMovieDetails(item)" text icon>
              <v-icon small>mdi-eye</v-icon>
            </v-btn>
          </template>
          </v-data-table>
        </v-col>
      </v-row>
      <v-row>
        <v-col md="12">
          <div class="text-center">
            <v-pagination
              v-model="currentPage"
              :length="paginationLength"
            ></v-pagination>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog
      v-model="dialogMoviesDetails"
      max-width="600"
    >
      <v-card>
        <v-img
          class="white--text"
          height="200px"
          :src="movieSelected.Poster"
        >
      <v-card-title class="align-end fill-height">{{movieSelected.Title}}</v-card-title>
    </v-img>
    <v-card-text>
     Genre: {{movieSelected.Genre}}
    </v-card-text>
    <v-card-text>
      Sortie: {{movieSelected.Released}}
    </v-card-text>
    <v-card-text>
      Durée: {{movieSelected.Runtime}}
    </v-card-text>
    <v-card-text>
      Synopsis: {{movieSelected.Plot}}
    </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn
            color="green darken-1"
            text
            @click="dialogMoviesDetails = false"
          >
            fermer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import axios from 'axios'

export default {
  name: 'MoviesList',
  data () {
    return {
      apikey: '8f0a5987',
      apiUrl: 'http://www.omdbapi.com/',
      searchQuery: '',
      movieSelected: {},
      currentPage: 1,
      paginationLength: null,
      dialogMoviesDetails: false,
      headers: [
        { text: 'Titre', align: 'left', value: 'Title' },
        { text: 'Type', value: 'Type' },
        { text: 'Année', value: 'Year' },
        { text: 'Détails', value: 'action', sortable: false }
      ],
      movies: []
    }
  },
  watch: {
    searchQuery (newVal) {
      const lgt = newVal.length
      if (lgt > 2) {
        this.getMovies(newVal)
      }
    },
    currentPage (newVal) {
      this.getMovies(this.searchQuery, newVal)
    }
  },
  methods: {
    getMovies (searchQuery, page = 1) {
      axios.get(this.apiUrl, {
        params: {
          s: searchQuery,
          apikey: this.apikey,
          page: page
        }
      }
      )
        .then(results => {
          this.paginationLength = Math.floor(parseInt(results.data.totalResults) / 10)
          this.movies = results.data.Search
        })
        .catch(error => {
          console.error(error)
        })
    },
    getMovieDetails (movie) {
      axios.get(this.apiUrl, {
        params: {
          apikey: this.apikey,
          i: movie.imdbID
        }
      }
      )
        .then(results => {
          this.movieSelected = results.data
          this.dialogMoviesDetails = true
          console.log('->: --------------------------------------')
          console.log('->: getMovieDetails -> results', results)
          console.log('->: --------------------------------------')
        })
        .catch(error => {
          console.error(error)
        })
    }
  }
}
</script>
